.CardSideA {
  background: #48c3d9;
  color: #FFF;
  width: 100%;
  height: 100%;
  padding: 10px;

  span.title {
    display: block;
    font-size: 13px;
  }
  > .Weather-Location-Container {
    float: left;
    cursor: pointer;
    
    .Weather-Location {
      float: left;
      font-size: 20px;
      margin-left: 10px;
      margin-top: 5px;
    }
  }
  > .Weather-Temperature {
    float: right;
    font-size: 38px;
    margin-right: 10px;
    font-weight: bold;

  }
  > .Weather-Icon {
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;

    i {
      font-size: 100px;
      display: block;
      clear: both;
    }
  }
  > .Weather-Wind {
    float: left;
    margin-top: 30px;
    font-size: 14px;
  }
  > .Weather-Humidity {
    float: right;
    margin-top: 30px;
    font-size: 14px;
  }

  > .Weather-Weeks {
    float: left;
    height: 35px;
    margin: 10px -10px;
    ul {
      height: 100%;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        background: #1799b0;
        width: 35px;
        height: 100%;
        margin-right: 1.5px;
        text-align: center;
        line-height: 35px;
        font-size: 14px;
        &.active {
          background: transparent;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}